.copyright {
  position: relative;
  padding: 25px 40px;
  background: #f1f1f1;
}

.copyright__link {
  position: absolute;
  top: 19px;
  right: 31px;
}

.copyright__img {
  display: inline-block;
  width: 43px;
  height: 40px;
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .copyright {
    padding: 25px 0;
    background: #f1f1f1;
    width: 183px;
  }

  .copyright__link {
    position: absolute;
    top: 22px;
    right: -7px;
  }

  .copyright__img {
    display: inline-block;
    width: 41px;
    height: 40px;
  }
}
