.copyright {
  position: relative;
  padding: 25px 40px;
  background: #f1f1f1;
}

.copyright__link {
  position: absolute;
  top: 5px;
  left: 38px;
}

.copyright__link:hover .copyright__img {
    fill: #46c1ae;
  }

.copyright__img {
  position: relative;
  top: 15px;
  left: 24px;
  width: 43px;
  height: 40px;
  fill: #63d1bb;
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .copyright {
    padding: 25px 0;
    background: #f1f1f1;
    width: 183px;
  }

  .copyright__link {
    position: absolute;
    top: -8px;
    left: 0;
  }

  .copyright__img {
    display: inline-block;
    width: 41px;
    height: 40px;
  }
}
