.main-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  width: 320px;
  background: #ffffff;
}

.main-content__title {
  margin: 0 -30px;
  padding: 0 30px;
  min-height: 175px;
  background-color: #f1f1f1;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-content {
    padding: 0 50px;
    width: 768px;
  }

  .main-content__title {
    margin: -90px -50px 0;
    padding-top: 60px;
    min-height: 115px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1250px) {
  .main-content {
    padding: 0 50px;
    width: 1150px;
  }
}
