.main-content {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  background: #ffffff;
  outline: 1px solid red;

  &__title {
    min-height: 175px;
    margin: 0 -30px;
    padding: 0 30px;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    background-color: #f1f1f1;
  }
}
