.main-footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  width: 320px;
  background: #f1f1f1;
  min-height: 160px;
}

.main-footer__logo {
  display: none;
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    padding: 0 50px;
    min-height: 143px;
    width: 768px;

    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    width: 102px;
    height: auto;
    display: block;
    margin-bottom: 7px;
  }
}

@media (min-width: 1250px) {
  .main-footer {
    margin: 0 auto;
    width: 1150px;

    &_w_1250 {
      width: 1250px;
      margin-left: -50px;
      padding: 0 100px;
    }
  }

  .main-footer__logo {
    margin-bottom: 8px;
  }
}
