.main-header {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  background: #ffffff;
  outline: 3px solid blue;
}

.main-header__logo {
    display: block;
    position: relative;
    width: 100%;
    min-height: 80px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.main-header__logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -43px;
    margin-top: -17px;
}

.main-header__menu-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    right: 30px;
    margin-top: -10px;
    font-size: 0;
    background: url("../../img/icon-menu-close.svg");
    border: none;
    outline: none;
}

@media (min-width: 768px) {
  .main-header {
    width: 768px;
    padding: 0 50px;
  }

  .main-header__menu-toggle {
    display: none;
  }

  .main-header__logo {
    width: 320px;
    height: 90px;
  }
}

@media (min-width: 1250px) {
  .main-header {
    width: 1150px;
    padding: 0 50px;
  }

  .main-header__logo {
    order: 2;
    width: 320px;
    height: 90px;
    border: none;
  }
}
