.main-header {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  background: #ffffff;
}

.main-header__logo {
  position: relative;
  display: block;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
}

.main-header__logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -43px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: 768px) {
  .main-header {
    padding: 0 50px;
    width: 768px;
  }

  .main-header__logo {
    width: 368px;
    height: 90px;
    margin-left: -50px;
  }

  .main-header__logo-img {
    position: relative;
    top: 39px;
    left: 49px;
    padding-left: 42px;
    width: 113px;
    height: auto;
  }
}

@media (min-width: 1250px) {
  .main-header {
    width: 1150px;
  }

  .main-header__logo {
    margin: 0;
    padding-right: 148px;
    width: 150px;
    height: 90px;
    border: none;
    border-bottom: 1px solid #ececec;

    order: 2;
  }

  .main-header__logo-img {
    top: 26px;
    left: 51px;
    padding-left: 42px;
    width: 149px;
  }
}
