.modal {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  background: #ffffff;
  outline: 3px solid red;


  &__title {
    display: inline-block;
    width: 150px;
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }

  &__form {
    margin: 0;
    padding: 0;
  }

  &__sizes {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__btn {
    line-height: 16px;
    color: #ffffff;
    background-color: #63d1bb;
    border: none;
  }

  &__form-descr {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  &__goods-size {
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    color: #444444;
  }
}
