.modal {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  width: 320px;
  outline: 3px solid red;
  background: #ffffff;
}

.modal__title {
  display: inline-block;
  margin: 0;
  width: 150px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.modal__form {
  margin: 0;
  padding: 0;
}

.modal__sizes {
  margin: 0;
  padding: 0;
  border: none;
}

.modal__btn {
  border: none;
  background-color: #63d1bb;
  color: #ffffff;
  line-height: 16px;
}

.modal__form-descr {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
}

.modal__goods-size {
  color: #444444;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .modal {
    width: 568px;
  }
}
