.product-section__header {
  margin: 0 -30px;
}

.product-section__title {
  margin: 0;
  padding-top: 70px;
  min-height: 210px;
  background: #fafafa url("../../img/hero-mobile@1x.jpg") center -20px;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  line-height: 30px;
}

.product-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-section__item1 {
  min-height: 103px;
  background: #63d1bb url("../../img/icon-interior.svg") no-repeat 245px center;
}

.product-section__item2 {
  min-height: 103px;
  background: #56c3b2 url("../../img/icon-toy.svg") no-repeat 235px center;
}

.product-section__link {
  padding-left: 30px;
  display: block;
  min-height: 73px;
  padding-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .product-section__header {
    margin: 0 -50px;
  }

  .product-section__title {
    margin-top: -90px;
    min-height: 470px;
    padding: 152px 70px 0;
    font-size: 43px;
    line-height: 50px;
    background: #f1f1f1 url("../../img/hero-mobile@1x.jpg") center center no-repeat;
  }

  .product-section__list {
    width: 668px;
    margin: 0 auto;
    margin-top: -104px;
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .product-section__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
  }

  .product-section__item1 {
    width: 50%;
    background: #63d1bb url("../../img/icon-interior.svg") no-repeat 257px center;
  }

  .product-section__item2 {
    width: 50%;
    background: #56c3b2 url("../../img/icon-toy.svg") no-repeat 239px center;
  }
}
