.product {
  outline: 1px solid green;

  &__name {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
  }

  &__descr {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    color: #444444;
    text-align: left;
  }

  &__btn {
    width: 190px;
    min-height: 50px;
    font-size: 17px;
    line-height: 16px;
  }
}
