.product {
  background: #ffffff;
  outline: 3px solid green;
}
.product__name {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
}

.product__descr {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  text-align: left;
}

.product__link {
  color: #63d1bb;
}

.product__btn {
  width: 190px;
  min-height: 50px;
  font-size: 17px;
  line-height: 16px;
}
