.reviews {
  width: 320px;
  padding: 35px 30px;
  text-align: left;
  background: #ffffff;

  &--title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
  }

  &--descr {
    margin: auto 0;
    padding-right: 30px;
  }

  &--content {
    margin: 0;
    padding-right: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  &--author-name{
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }

  &--author-instagr {
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #444444;
  }

  &--arrow {
    height: 50px;
    width: 130px;
  }

  &--prev {
    background: #ffffff url("../../img/icon-left-arrow.svg") no-repeat center;
  }

  &--next {
    background: #ffffff url("../../img/icon-right-arrow.svg") no-repeat center;
  }
}
