.reviews {
  text-align: left;
  background: #ffffff;
  outline: 3px solid yellow;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.reviews__descr {
  margin: 0;
}

.reviews__content {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.reviews__author-instagr {
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.reviews__arrow {
  height: 50px;
  width: 130px;
}

.reviews__prev {
  background: #ffffff url("../../img/icon-left-arrow.svg") no-repeat center;
}

.reviews__next {
  background: #ffffff url("../../img/icon-right-arrow.svg") no-repeat center;
  }

@media (min-width: 768px) {
  .reviews {
    padding-top: 90px;
  }
}

@media (min-width: 1250px) {
  .reviews {
    padding-left: 175px;
  }
}
