.site-list {
  position: relative;
  background: #ffffff;
  list-style: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  z-index: 99;
}

.site-list__hidden-item {
  display: none;
}

.site-list__item {
  min-height: 79px;
  border-bottom: 1px solid #ececec;
}


.site-list__link {
  display: block;
  min-height: 53px;
  color: #000000;
  padding-left: 75px;
  padding-top: 27px;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    font-size: 15px;
    background-color: transparent;
    order: 2;
  }

  .site-list__item {
    height: 90px;
    border-bottom: none;
  }

  .site-list__link {
    display: inline-block;
    padding: 0;
    padding-top: 15px;
    background-color: transparent;
  }

  .site-list__booking {
    width: 167px;
  }

  .site-list__catalog {
    width: 167px;
  }
}

@media (min-width: 1250px) {
  .site-list__hidden-item {
    display: list-item;
  }

  .site-list {
    width: 360px;

    order: 1;
    flex-wrap: wrap;
  }

  .site-list__catalog {
    width: 184px;
    border-right: 1px solid #ececec;
    background-color: #ffffff;
  }

  .site-list__booking {
    width: 175px;
    background-color: #ffffff;
  }

  .site-list__new {
    width: 185px;
  }

  .site-list__sale {
    width: 175px;
  }
}
