.social {
  min-height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: #f1f1f1;

  &--item {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 0;
    background: black;
  }
}
