.store-descr {
  background: #ffffff;
  text-align: left;
  outline: 3px solid blue;

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: black;
  }

  &__list {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: black;
    list-style: none;
  }

  &__item_bg_flower {
    background: url("../../img/icon-feature-flower.svg") no-repeat top left;
  }

  &__item_bg_money {
    background: url("../../img/icon-feature-money.svg") no-repeat top left;
  }

  &__item_bg_heart {
    background: url("../../img/icon-feature-heart.svg") no-repeat top left;
  }

  &__item_bg_ball {
    background: url("../../img/icon-feature-ball.svg") no-repeat top left;
  }

  &__item_bg_rocket {
    background: url("../../img/icon-feature-rocket.svg") no-repeat top left;
  }

  &__item_bg_gift {
    background: url("../../img/icon-feature-gift.svg") no-repeat top left;
  }
}
