.store-descr {
  width: 320px;
  padding: 35px 30px;
  background: #ffffff;
  text-align: left;

  &--title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: black;
  }

  &--list {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: black;
    list-style: none;
  }

  &--item {
    width: 260px;
    min-height: 130px;
  }

  &--item_bg_flower {
    background: url("../../img/icon-feature-flower.svg") no-repeat top left;
  }

  &--item_bg_money {
    background: url("../../img/icon-feature-money.svg") no-repeat top left;
  }

  &--item_bg_heart {
    background: url("../../img/icon-feature-heart.svg") no-repeat top left;
  }

  &--item_bg_ball {
    background: url("../../img/icon-feature-ball.svg") no-repeat top left;
  }

  &--item_bg_rocket {
    background: url("../../img/icon-feature-rocket.svg") no-repeat top left;
  }

  &--item_bg_gift {
    background: url("../../img/icon-feature-gift.svg") no-repeat top left;
  }
}
