.user-list {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  list-style: none;
}

.user-list__item {
  min-height: 79px;
  border-bottom: 1px solid #ececec;
}

.user-list__link {
  display: block;
  height: 53px;
  color: #000000;
  padding-left: 75px;
  padding-top: 27px;

  &:hover {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }

  &_search {
    position: relative;

    &:hover .user-list__search-icon {
      opacity: 1;
      fill: #63d1bb;
    }

    &:active .user-list__search-icon {
      opacity: 0.3;
    }
  }

  &_cart {
    position: relative;

    &:hover .user-list__cart-icon {
      opacity: 1;
      fill: #63d1bb;
    }

    &:active .user-list__cart-icon {
      opacity: 0.3;
    }
  }
}

.user-list__search-icon {
  position: absolute;
  top: 31px;
  left: 32px;
  opacity: 0.2;
}

.user-list__cart-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .user-list {
    display: flex;
  }

  .user-list__item {
    height: 90px;
    border: none;

    &_search {
      width: 85px;
      padding: 0;
      border: 1px solid #ececec;
      border-top: none;
      font-size: 0;
    }

    &_cart {
      margin-right: -50px;
      padding: 0;
      width: 313px;
      border-bottom: 1px solid #ececec;
    }
  }

  .user-list__link {
    padding: 0;
    height: 89px;

    &_cart {
      padding-top: 30px;
      padding-left: 83px;
      height: 59px;

      &:hover .user-list__cart-icon {
        opacity: 1;
        fill: #63d1bb;
      }

      &:active .user-list__cart-icon {
        opacity: 0.3;
      }
    }

    &_search {
      &:hover .user-list__search-icon {
        opacity: 1;
        fill: #63d1bb;
      }

      &:active .user-list__search-icon {
        opacity: 0.3;
      }
    }
  }

  .user-list__search-icon {
    top: 36px;
    left: 33px;
  }

  .user-list__cart-icon {
    top: 35px;
    left: 31px;
  }
}

@media (min-width: 1250px) {
  .user-list {
    order: 2;
  }

  .user-list__item {
    height: 90px;
  }

  .user-list__item_cart {
    flex-grow: 1;
  }
}
