.week-goods {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  text-align: left;
  background: #ffffff;
  outline: 1px solid green;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: black;
  }

  &__description {
    margin: 0;
    padding: 0;
  }

  &__descr-title {
    color: #63d1bb;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
  }

  &__image {
    margin: 0;
    padding: 0;
  }

  &__price {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #444444;
    text-align: center;
  }
}
